# Web Framework
flask==2.2.3
flask-restful==0.3.9
flask-cors==3.0.10
gunicorn==20.1.0

# Database
sqlalchemy==1.4.46
psycopg2-binary==2.9.5
influxdb-client==1.36.1
pymongo==4.3.3
redis==4.5.4

# Messaging
# Messaging
confluent-kafka==2.1.1

# Authentication
pyjwt==2.6.0
passlib==1.7.4

# Data Processing
pandas
scipy
scikit-learn
# tensorflow
# torch==2.0.0
# transformers==4.27.4
# ray==2.3.1
# API Clients
# alpaca-trade-api==3.0.0
# polygon-api-client==1.10.1
# alpha-vantage==2.3.1
# newsapi-python==0.2.7

# Utilities
pytest==7.3.1
pytest-cov==4.1.0
pytest-mock==3.10.0

